<!DOCTYPE html>
<html>

<head>
    <title>Olympic Adventures</title>
    <link rel="icon" href="./favicon.png">
    <link href="./css/main.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://backbonejs.org/backbone-min.js"></script>
    <script src="https://craig.global.ssl.fastly.net/js/mousetrap/mousetrap.min.js?71631"></script>
    <script type="text/template" id="create-template">
        <h2> Create a player: </h2>
        <h3> Name: </h3>
        <input type="text" id="name-input" placeholder="Type your name here...">
        <button id="create-button">Create Player</button>
        
        <div id="mode-select">
        <h3> Choose a vehicle: </h3>
        <input id="vehicle-suburban" type="radio" name="mode" value="suburban">
        <p>Suburban</p>
        <input id="vehicle-tesla" type="radio" name="mode" value="tesla">
        <p>Tesla</p>
        </div>
    </script>
    <script type="text/template" id="game-template">
    <div id="control-wrapper">
        <h2> Playing: Olympic Adventures </h2>
        <p id="fuel-level">Fuel level: <%= currentEnergy %>/<%= startEnergy %> </p>
        <p id="score">Score <%= score %></p>
        <button id="left-button">Left</button>
        <button id="right-button">Right</button>
        <button id="up-button">Up</button>
        <button id="down-button">Down</button>
        <p id="next-fuel"> The next fuel is located at (<%= energyXPos %>,<%= energyYPos %>).
    <p id="status"> <%=name %> is currently located at <%=xPosition %>, <%=yPosition %> on the map.</p>
    </div>
    <div id="game-map"></div>
    </script>
    <script type="text/template" id="gameover-template">
        <div id="gameover-wrapper">
            <h2> Game Over! </h2>
            <p>Username: <%= name %></p>
            <p>Score: <%= score %></p>
            <p>Would you like to play again?
            <button id="new-game">New Game</button>
        </div>
    </script>

    <script src="js/app.js"></script>
</head>

<body>
    <header>
        <a href="index.html" id="title-link"><h1>The Olympic Adventures</h1></a>
<!--
        <ul>
            <a href="#/create">
                <li>Create Character</li>
            </a>
            <a href="#/game">
                <li>Begin Adventure</li>
            </a>
        </ul>
-->
    </header>

    <main id="content">
       <div id="create-view"></div>
       <div id="game-view"></div>
       <div id="gameover-view"></div>
    </main>

</body>

</html>
